# Ignore node_modules folder
node_modules/

# Ignore compiled TypeScript files (optional, if you're compiling to JS)
*.js
*.js.map

# Ignore build directory if you're using one
dist/
build/

# Ignore TypeScript cache files
*.tsbuildinfo

# Ignore environment variables
.env

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore coverage folder (for tests)
coverage/

# Ignore VSCode settings
.vscode/
